.home-main-container {
  display: flex;
  justify-content: space-evenly;
  background-color: cornflowerblue;
  height: 68vh;
  padding: 1em;
}

.home-intro-container {
  border: 5px solid black;
  padding: 2em;
  overflow: auto;
}

.home-quote-container {
  border: 5px solid black;
  padding: 2em;
  overflow: auto;
}

.home-quote {
  font-size: large;
  font-family: cursive;
}

.home-extra-large {
  font-size: x-large;
}

.slide-container {
  width: 35%;
}
