.portfolio-main-container {
  height: 68vh;
  display: flex;
  justify-content: space-around;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/011de437460181.57413c93f16a4.jpg");
  background-position: center center;
  background-size: 100% 100%;
}

.portfolio-title {
  color: rgb(252, 214, 0);
  font-size: 25px;
}

.project-title {
  color: rgb(230, 215, 130);
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: larger;
}

.project-description {
  text-indent: 10%;
}

.current-project-container {
  border: 5px solid purple;
  margin: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completed-project-container {
  border: 5px solid purple;
  margin: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.each-project {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.current-project-box {
  border: 3px solid black;
  padding: 1rem;
  background-color: rgb(74, 56, 150);
  width: 70%;
  height: 60%;
  margin: 1rem;
}

.project-box {
  border: 3px solid black;
  padding: 1rem;
  background-color: rgb(74, 56, 150);
  width: 40%;
  margin: 1rem;
}

.project-links {
  display: flex;
  justify-content: space-around;
}
